@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
  --color-bg: #F9FAFB;
  --color-text: #1A1A1A;
  --color-error: #EF4444;
  --color-border: #E5E7EB;
  --color-primary: #3B82F6;
  --color-surface: #FFFFFF;
  --color-secondary: #10B981;
  --color-text-secondary: #4B5563;
  --font-body: 'Inter', system-ui, sans-serif;
  --font-heading: 'DM Sans', system-ui, sans-serif;
}
